name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
      
      - name: Install dependencies
        run: |
          uvx pre-commit run --all-files

  test:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        test-index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        max-device: ["max_device", "not max_device"]
    
    steps:
      - uses: actions/checkout@v4

      - name: Cache Modular directory
        uses: actions/cache@v4
        with:
          path: /tmp/modular/
          key: modular-${{ matrix.test-index }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            modular-${{ matrix.test-index }}
      
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      
      - name: Install dependencies
        run: |
          uv run echo hello
      
      - name: Run tests with pytest
        env:
          MODULAR_HOME: /tmp/modular/
        run: |
          uv run pytest -v -n 2 --splits 12 --group ${{ matrix.test-index }} -k "${{ matrix.max-device }}"
